*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
    font-size: 16px;
}


.background{
    background: url(../assets/bg.png);
    margin: 0;
    background-position: center;
    background-size: cover;
    position: fixed; 
    height: 100%;
    width: 100%;
}


.square-white{
    height: 100%;
    background-color: #ffffff4f;
    padding-bottom: 25px;
    padding-top: 20px;
}

.pic-bg{
    background-image: url(../assets/food-no-bg-rill.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 75px;
    padding-bottom: 75px;
    background-size: 30%;
}

.square-red{
   height: 70%;
   background-color: #a94338cd;
   padding-bottom: 8px;
   padding-top: 8px;
}

.content{
    margin-inline: 75px;
    margin-block-start: 50px;
    height: 660px;
    background-color: #542823ec;
    overflow: auto;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
    overflow-x: scroll;
}


.navbar{
    background-color: #470A03;
    display: flex;
    padding: 12px;
    justify-content: right;
}

.navbar ul li {
    display: inline;
    margin-left: 5px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    border-right: 1px solid white;
    font-size: 20px;
    padding-right: 10px;
}

.navbar ul li:last-child a{
    margin-right: 15px;
    border-right: none !important;
}

.navbar ul:hover li a:not(:hover){
    opacity: 50%;
    transform: scale(0.8);
}

.content-1{
    padding-top: 15px;
    margin-bottom: 78px;
}

.content-1 p{
    margin: 8px;
}

#web-name{
    font-size: 50px;
    margin: 15px;
}

.square-red p, h1 {
    text-shadow: 3px 4px 3px #00000078;
}

button{
    width: 250px;
    height: 50px;
    padding: 12px 0px;
    border-radius: 23px;
    transform: translateY(100%);
    background: #a94338c3;
    color: white;
    position: relative;
    overflow: hidden;
    margin-inline: 50px;
    font-size: 20px;
    border: 2px solid transparent;
}

button a {
    text-decoration: none;
}

button span{
    font-size: 17px;
}

button:hover{
    background-color: #d9d9d9;
}

button:hover span{
    color: black;
}

button:hover button:not(:hover){
    transform: scale(0.6);
}

.scroll{
    opacity: 50%;
    font-size: 10px;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-bottom: 50px;
}

.content-2{
    padding: auto;
}

#promo{
    margin-top: 50px;
    font-size: 25px;
    text-decoration: underline;
}

.discount{
    background-color: #a9433853;
    padding: 20px 10px;
    margin-inline: 200px;
    margin-bottom: 50px;
    margin-top: 0;
    display: flex;
	flex-direction: column;
	align-items: center;
    gap: 30px;
}

.voucher{
    background-color: #470A03;
    width: 400px;
    display: flex;
}

.voc{
    flex: 4;
}

.voc-img{
    display: flex;
    justify-content: center;
	align-items: center;
    background-color: #d9d9d9;
    flex: 1;
}

.voc p{
    color: whitesmoke;
}

.voc span{
    color: whitesmoke;
    font-size: 10px;
}

.voc-img img{
    height: 60px;
    width: auto;
}


.voucher:hover{
    transform: scale(1.2);
    box-shadow: white;
}

.recommendation{
    background-color: #a9433853;
    border:  #470A03 solid 4px;
    border-radius: 35px 0 35px 0;
    padding: 20px;
    margin-inline: 30px;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
 
.recommendation p{
    margin: 0;
}

.food-name p{
    font-size: 20px;
}

.real-price p{
    text-decoration: line-through;
    font-size: 12px;
}

.discount-price p{
    font-size: 20px;
}

.img{
    height: 200px;
    width: 350px;
    border-color: #ffffff;
    border-radius: 24px 0 24px 0;
    border-style: solid;
}

.recommendation:hover .list:not(:hover){
    transform: scale(0.9);
    filter: grayscale(1);
}

.list:hover .discount-price{
    transform: scale(1.2);
    background-color: #470A03;
    margin-inline: 100px;
    margin-top: 6px;
    padding-block: 2px;
}


.link-to-menu{
    display: flex;
    justify-content: center;
	align-items: flex-start;
}


.link-to-menu a{
    font-size: 10px;
    opacity: 50%;
    letter-spacing: 3px;
    word-spacing: 5px;  
}

footer{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: baseline;
    gap: 40px;
    background-color: #470A03;
    padding: 7px 0;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
	align-items: baseline;
    font-size: 14px;
}

.socmed-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.social-media{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.socmed{
    font-size: 14px;
}

.social-media img{
    height: 20px;
    width: 20px;
}

.made-by{
    text-align: right;
    padding: 20px;
    font-size: 14px; 
}

footer .detail{
    font-size: 14px;
}

footer .detail a{
    font-size: 14px;
}

@media screen and (max-width:768px) {
    *{
        font-size:15px;
    }

    .wrapper{
        height: 1000px;
    }

    .content{
        margin: 30px;  
        height: 680px;  
    }

    .btn{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
	    align-items: center;
        gap: 25px;
    }

    button{
        width: 300px;
        padding: 10px 0px;
        border-radius: 5vh;
    }
    
    .square-white{
        height: 250px;
        padding-top: 50px;
    }

    .square-red{
        height: 160px;
    }

    .pic-bg{
        height: 300px;
        background-size: 60%;
        margin-block: 30px;
    }

    .scroll{
        display: none;
    }

    .content-1{
        margin-bottom: 150px;
    }



    #promo{
        margin-top: 40px;
        font-size: 20px;
    }

    .list img{
        height: 110px;
        width: 170px;
        object-fit: cover;
    }

    .food-name p{
        font-size: 12px;
        margin-top: 2px;
    }

    .real-price p{
        font-size: 5px;
        margin: 2px;
    }
    .wrapper{
        margin-bottom: 400px;
    }
    .discount-price p{
        font-size: 11px;
    }

    .link-to-menu a{
        font-size: 8px;
        letter-spacing: 2px;
        word-spacing: 1px;
    }

    .discount{
        margin-inline: 125px;
        margin-bottom: 200px;
    }

    .voucher{
        height: 70px;
        width: 250px;
    }
    .voc span{
        font-size: 7px;
    }
    .voc-img img{
        height: 40px;
        width: auto;
    }

    footer{
        margin-top: 500px;
        gap: 5px;
    }

    .made-by{
        font-size: 8px;
        padding: 8px;
    }

    .socmed{
        font-size: 14px;
    }
    
    .social-media img{
        height: 10px;
        width: 10px;
    }
    
    .contact{
        font-size: 8px;
    }

    .socmed{
        font-size: 8px;
    }
    
    footer .detail{
        font-size: 8px;
    }
    
    footer .detail a{
        font-size: 8px;
    }
}